---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Inconsolata", Helvetica, Arial, sans-serif;
$article-font-family: "Helvetica", Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$large-font-size:  $base-font-size * 1.5;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$list-style:	   none;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
body {
    background-color: #FFF;
    
}

#header {
	width: 65%;
	height: auto;
	padding: 0 5%;
	transition: ease-in-out 500ms;
	position: fixed;
	z-index: 50;
		
}
.site-title{
	margin-left:-40px;
}
.schimb {
	width: 65%;
	height: auto;
	padding: 0 5%;
	transition: ease-in-out 500ms;
	position: fixed;
	z-index: 50;
	background:white;
		
}

.logo {
	width: auto;
	height: 40px;
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	display: inline-block;
	padding: 7px 0;
	color: #FFF;	
}

/* Navigation menu start */


nav ul {	
	overflow: hidden;
	color: #FFF;
	padding: 0;
	float: right;
	margin: 0;
	-webkit-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	transition: max-height 0.4s;	
}

nav ul li {
	display: inline-block;
	padding: 20px 10px;
	margin: 0 10px;
	font-family: 'Montserrat', sans-serif;
	
}

a {
	text-decoration: none;
	color: inherit;	
}

nav ul li:hover {
	color: #0398CF;
	-webkit-transition: ease-in-out 400ms;
	-moz-transition: ease-in-out 400ms;
	-o-transition: ease-in-out 400ms;
	-ms-transition: ease-in-out 400ms;
	transition: ease-in-out 400ms;
	border-bottom: 4px solid #0398CF;
	padding-bottom: 8px;
}

.handle {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 0 0 50px ;	
	cursor: pointer;
	color: #414141;
	display: none;
	
}	

/* Navigation menu end */


.container {
    background-color: #ADDFFF;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  .carousel {
      margin: 0 auto;
  }